<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <title>VideoLocale</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Bootstrap Slider -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}">

    <!-- Playlist Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/playlist.css') }}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <!-- Mapbox -->
    <script src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>
    <link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet"/>
    <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.css" rel="stylesheet"/>
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.js"></script>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main_page') }}">
            <span><img alt="VideoLocale" src="{{ url_for('static', filename='img/vl_logo_small.png') }}" style="margin-top: -8px; margin-right: 5px;"></span> VideoLocale
          </a>
        </div>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbar-collapsed">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Generate Playlist</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- playlist-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2">
        </div>

        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8" id = "playlist-column">

          <div class="panel panel-default">
            <div class = "panel-body playlist-body">

              <div class="panel panel-default" style="height: 60vh;" id="map-container">
                <div class= "well" id ="playlistMap" style = "height: 60vh;"></div>
              </div>

              <script type="text/javascript">
                L.mapbox.accessToken = '{{ mapbox_api_key }}';
                var map = L.mapbox.map('playlistMap','',{worldCopyJump:true})
                    .setView([47.6097, -122.3331], 6);
                L.mapbox.styleLayer('mapbox://styles/team95/cinl2xhb6000ab1lzaofjjfqz').addTo(map);
                var featureGroup = L.featureGroup().addTo(map);
                var markerArray = [];
                var minLat = 90;
                var maxLat = -90;
                var minLon = 180;
                var maxLon = -180;

                //console.log(map);
              </script>

              <!-- caps of all of the videos because video headers use the border of the header above themselves
              <div class = "playlist-video-header-top"></div>
              <div style = "border-bottom-style: solid; border-color: hsl(210, 45%, 0%);"></div>-->

              {% for video in videos %}
              <script type="text/javascript">
                var lat = {{video.latitude}};
                var lon = {{video.longitude}};

                markerArray.forEach(function(markers){
                  var location = markers.getLatLng();
                  var oldLat = location.lat;
                  var oldLon = location.lng;
                  if ((lat == oldLat) && (lon == oldLon)){
                    lat = lat - 0.0001;
                  }
                });

                if (lat < minLat){
                  minLat = lat;
                }
                if (lat > maxLat){
                  maxLat = lat;
                }
                if (lon < minLon){
                  minLon = lon;
                }
                if (lon > maxLon){
                  maxLon = lon;
                }
                var marker = L.marker([lat,lon],{icon: L.mapbox.marker.icon({
                  'marker-color': '#7BB14E'
                })})
                .bindPopup('{{video.title}}')//should we have this? im concerned about privacy.
                .addTo(map);
                markerArray.push(marker);

              </script>

              <div class = "panel-body playlist-video-header" > {{ video.title }}</div>
              <div class = "panel-body playlist-video-outside">
                <div class = " well playlist-video-inside">


                    <div class = "playlist-video-embedded">
                      <!-- took out source, added when video is viewed -->
                      <iframe class = "playlist-video-embedded-vid"
                      id = "{{video.id}}"
                      allowscriptaccess = "always">
                      </iframe>
                    </div>
                    <div class = "playlist-video-text">
                      <div class = "well playlist-video-info">
                          <p><b> Runtime {{ video.duration }}<span style = "float: right">{{ video.view_count }} Views</span></b></p>
                          <p><b>Created by - {{ video.channel_title }} <span style = "float: right">Published on {{ video.publish_date }}</span></b></p>
                      </div>
                      <div class = "well playlist-video-description">
                        <p><b>Description<br> - {{ video.description }} </b></p>
                      </div>
                    </div>


                </div>
              </div>

              {% endfor %}
              <script type="text/javascript">
                //resize map (buffer for marker height)
                var buff = (maxLat - minLat)/100;
                map.fitBounds([[minLat,minLon],[maxLat+buff,maxLon]]);
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

      <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>

    <!-- Custom Playlist JS -->
    <script src="{{ url_for('static', filename='js/playlist.js') }}"></script>

  </body>

</html>
