/* Sets 100% width for filter controls and adds a margin to top and bottom. */
body{
  height: 100%;
  width: 100%;
  margin: 0;
}

.filter-control {
  width: 100%;
  margin-bottom: 20px;
}

/* Sets default color to gray, changes the cursor to a pointer when hovering
   over filter removal button. */
.remove-filter {
  color: gray;
  cursor: pointer;
}

/* Changes the color of the filter removal button on hover to red. */
.remove-filter:hover {
  color: #990000 !important;
}

/* Disables mouse click events in Chrome and Firefox. */
.not-active {
  pointer-events: none;
}

/* Scrollable container for filters. */
#filter-container {
  flex:1;
  margin: 0;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  overflow: auto;
  overflow-x: hidden;
}
/* remove cursor from dtpickers input */
.upload-date-picker.form-control{
  cursor:default;
      color : transparent;
      text-shadow : 0 0 0 #000;
  &:focus{
    outline:none;
  }
}

/* Fit datetimepickers within filter wrapper to avoid clipping. */
.bootstrap-datetimepicker-widget {
  width: 100% !important;
}

/* Sets the z-index of the bootstrap-slider tooltip to be lower than
   the dropdown menu to prevent clipping. */
.tooltip {
  z-index: 10;
}

#rows-to-columns{
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1vw;
}

#options-container{
  min-width: 20em;
  margin-bottom: 0px;
  position:relative;
}

#options-form{
  position:absolute;
  top: 0;
  bottom:0;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

#map-container{
  margin-left: 1.5vw;
  margin-bottom: 0px;
  flex:1;
  position: relative;
}

#map{
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
  margin: 0px;
}

/* Adds a small extra margin to the bottom of the number of
   results control so that the tooltip does not overlap with
   the filter below it. */
#num-results-control {
  margin-bottom: 40px;
}

/*moves options below map when viewport shrinks*/
@media all and (max-width: 1009px),(-webkit-min-device-pixel-ratio : 1.5) and (max-width: 1024px){
  #rows-to-columns{
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -21px;
  }
  #options-container{
    position: static;
    height: auto;
    order: 2;
  }
  #options-form{
    position: static;
    display: block;
  }
  #filter-container{
    min-height: 500px;
    height:auto;
  }
  #map-container{
    position: static;
    height: 60vh;
    margin: 0px;
    margin-bottom: 1.5vw;
    order:1;
  }
  #map{
    position: relative;
    width: 100%;
    height: 60vh;
  }
}
