/*playlist heading (name, ~#videos, ~runtime)*/
#playlist-column{
}

.playlist-header{
  border-color: hsl(0, 0%, 80%);
  border-bottom-style: solid;
  background-color: hsl(210, 34%, 72%);
}
.playlist-body{
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow: auto;
  padding: 0;
  margin:16px;
  border-radius: 5px;
  border-width: 16px;
  border-bottom-width: 0px;
  border-color: hsl(0,0%,100%);
}
/*outside color and area for each opened video*/
.playlist-video-outside {
  display:none;
  height: 371px;
  overflow: hidden;
  padding-bottom: 16px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-color: hsl(210, 29%,  0%);
  background-color: hsl(210, 29%, 14%);
}

.playlist-video-outside-open{
  display:block;
}

.playlist-video-outside.playlist-video-outside-open{
    display:block;
}

/*inside color and area for each opened video combine with well*/
.playlist-video-inside {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: hsl(210, 29%, 24%);
  padding: 0px;
  padding-bottom: 10px;
  border-color: hsl(210, 29%, 24%);
  border-width: 10px;
  border-bottom-width: 0px;
  color: hsl(210, 29%, 90%);
}

/*embeded video div*/
.playlist-video-embedded{
  float: left;
  display:block;
  height: 100%;
  width: 40%;
}

.playlist-video-embedded-vid{
  height: 100%;
  width: 100%;
}

/*div for video text*/
.playlist-video-text{
  height: 100%;
  width: auto;
  min-width: 275px;
  margin-left: 41%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

/*artist, album, length, ect.*/
.playlist-video-info {
  margin-bottom: 10px;
  color: hsl(210, 29%, 14%);
}

/*popularity, hotness, ect. RIP Echonest ;( */
.playlist-video-description {
  flex:1;
  margin:0px;
  background-color: hsl(210, 29%, 34%);
  overflow-y: auto;
  overflow-x: hidden;
}

/*unopened and unselected video header
playlist should have a blank div with bottom border to "cap" all the videos*/
.playlist-video-header{
  cursor: pointer;
  background-color: hsl(210, 29%, 24%);
  color: hsl(210,29%,90%);
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-color: hsl(210, 29%, 0%);
}

.playlist-video-header-top{
  border-top-style: solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: hsl(210, 29%, 0%);
}

.playlist-video-header-bottom{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*selected video header changes background*/
.playlist-video-header:hover{
  cursor: pointer;
  background-color: hsl(210, 29%, 14%);
  color: hsl(210,29%,90%);
}
/*moves video text below embedded video*/
@media all and (max-width: 1263px){
  .playlist-video-embedded{
    margin: auto;
    float:none;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
  }
  .playlist-video-text{
    margin:auto;
    height: auto;
    margin-right: 10px;
    /*width: 420px;*/
  }
  .playlist-video-description{
    height: 100%;
  }
  .playlist-video-inside{
    overflow-y: auto;
    padding-bottom: 0px;
    border-bottom-width: 10px;
    //border-right-style: none;
    padding-right: 0px;
  }
}
/*changes margins for small width viewports*/
@media all and (max-width: 702px){
  #playlist-column{
    padding:0px;
  }
  .playlist-body{
    margin: 0px;
  }
  .playlist-video-outside{
    padding:0px;
  }
  .playlist-video-inside{
    border-width: 0px;
    overflow-x: hidden;
  }
  .playlist-video-text{
    marigin:0px;
  }
}

/*media query for devices with different pixel density*/
@media screen and (-webkit-min-device-pixel-ratio : 1.5) and (max-width: 1024px){
  #playlist-column{
    width:100vw;
  }
}
/* hsl(210, 29%, 34%) light bg*/
/* hsl(210, 29%, 24%) default */
/* hsl(210, 29%, 14%) selected*/
/* hsl(210, 29%,  0%) border  */

/* OLD COLORS */
/*Background color values V == value or lightness with higher values being lighter*/
/*#7A99B8 V=70, hsl(210, 34%, 72%)*/
/*#556A80 V=50, hsl(210, 34%, 50%)*/
/*#2C3E50 V=30, hsl(210, 45%, 31%)*/
/*#1A242F V=18, hsl(210, 45%, 18%)*/
